.recipe-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
  gap: 30px;
}

.recipe-view img {
  max-width: 400px;
}
.detail {
  color: #777;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail .name {
  font-size: 26px;
  font-weight: bold;
  color: #252525;
  margin-bottom: 45px;
}

.cuisine span,
.difficulty span,
.servings span,
.ingredients span {
  font-weight: bold;
}
.ingredients span {
  margin: 0 12px 0 0;
}

.detail .hero-btn {
  margin-top: 12px;
  width: fit-content;
  background: blueviolet;
  border: 0;
}
.detail .hero-btn:hover {
  scale: unset;
}

.steps p {
  text-align: center;
  color: green;
  font-size: 13px;
  margin: 50px 0;
}

.steps p span {
  font-size: 16px;
  font-weight: bold;
  color: blueviolet;
}
.goback {
  text-decoration: none;
}
.goback h3 {
  margin-top: 6rem;
  color: black;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin-left: 3rem;
}
.goback h3 span {
  margin-right: 8px;
}

.links {
  margin: 50px;
  background-color: #cccccc42;
  padding: 15px;
  display: flex;
}
.links a {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  margin: 0 12px;
}

.links span hr {
  width: 100%;
  display: block;
  margin-top: 5px;
  background: blueviolet;
  border: 0;
  height: 2px;
}

@media only screen and (max-width: 800px) {
  .recipe-view img {
    max-width: 300px;
  }
  .detail {
    font-size: 13px;
    padding: 10px;
  }
  .detail .name {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .links{
    margin: 20px;
  }
 
}
@media only screen and (max-width: 670px) {
    .recipe-view{
        flex-wrap: wrap;
        justify-content: center;
    }
   
}
@media only screen and (max-width:350px){
  .recipe-view img {
    max-width: 100%;
  }
}